div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#print_job {
	margin-left: 30px;
	font-size: large;
}

.print_job_input {
	margin-left: 7px;
	margin-right: 7px;
}

#print_button {
	margin-left: 20px;
}

#controls {
	font-size: small;
}